<!DOCTYPE html>
@using WebMatrix.Data;
@{
    var db = Database.Open("StockDB");
    WebImage photo = null;
    var newFileName = "";
    var imagePath = "";
    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            newFileName = Guid.NewGuid().ToString() + "_" + Path.GetFileName(photo.FileName);
            imagePath = @"\ProductManager\images\" + newFileName;
            photo.Save(@"~\" + imagePath);
        }
        var name = Request.Form["name"];
        var price = Request.Form["price"];
        var category = Request.Form["category"];
        var insert = "insert into product(name,price,categoryid,image) values(@0,@1,@2,@3)";
        db.Execute(insert, name, price, category, imagePath);
        <script>alert("บันทึกข้อมูลเรียบร้อย")</script>
    }
}
<html>
<head>
    <title>Add Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>เพิ่มข้อมูลสินค้า</h1>
            <div class="col-md-8">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="usr">ชื่อสินค้า:</label>
                        <input type="text" class="form-control" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd">ราคาสินค้า:</label>
                        <input type="text" class="form-control" name="price" required>
                    </div>
                    <div class="form-group">
                        <label for="sel1">ประเภทสินค้า:</label>
                        @{
                            var data = db.Query("select * from category");

                        }
                        <select class="form-control" name="category">
                            @foreach (var row in data)
                            {
                                <option value="@row["id"]">@row["name"]</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="pwd">ภาพประกอบ:</label>
                        <input type="file" class="form-control" name="image">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="บันทึก" class="btn btn-success">
                        <a href="~/ProductManager/index.cshtml" class="btn btn-primary">ดูข้อมูลสินค้า</a>
                    </div>
                </form>
            </div>
        </div>
</body>
</html>
